[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "brazilmaps"]
	path = brazilmaps
	url = https://github.com/rpradosiqueira/brazilmaps
[submodule "datasus"]
	path = datasus
	url = https://github.com/rpradosiqueira/datasus
[submodule "sidrar"]
	path = sidrar
	url = https://github.com/rpradosiqueira/sidrar
